<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="userMap" type="com.example.entity.User">
        <result property="id" column="id"></result>
        <result property="username" column="id"></result>
        <result property="password" column="id"></result>
        <result property="nickName" column="id"></result>
        <result property="age" column="id"></result>
        <result property="sex" column="id"></result>
        <result property="address" column="id"></result>
        <result property="role" column="id"></result>
        <collection property="bookList" javaType="ArrayList" ofType="com.example.entity.Book">
            <result column="b_id" property="id"></result>
            <result column="b_name" property="name"></result>
            <result column="b_price" property="price"></result>
        </collection>
    </resultMap>

    <select id="findPage" resultMap="userMap">
        SELECT `user`.* ,book.id as b_id, book.name b_name,book.price b_price from `user`
        left join book on user.id = book.user_id
    </select>
</mapper>
